<div class="mainContent">
  <aside class="leftmenu">
            <a href="/"><img width="100" src="images/my-book-club-icon.png"/></a>
            <ul>
                <a href="/reviews"><li>All book reviews</li></a>
                <a href="/genres"><li>All genre</li></a>
                <a href="/reviews/new"><li>Create a new review</li></a>
            </ul>
  </aside>
  
  <main class="main">
        <header>
                <h1 class="pageTitle">View All Genre</h1>
        </header>

    <% @genres.each do |genre| %>
    <div class="pieRow">
    <img src="/images/small-book-icon.png" width="100px" class="thumbnail" alt="<%= genre.name %>">
      <div>
        <h2><i><%= genre.name %></i></h2>
      </div>
      <small><a href="/genres/<%= genre.slug %>">View all</a></small>
    </div>
    <%end%>   
  </main>

</div>