<div class="mainContent">
  <aside class="leftmenu">
            <a href="/"><img width="100" src="images/my-book-club-icon.png"/></a>
            <ul>
                <a href="/reviews"><li>All Reviews</li></a>
                <a href="/genres"><li>All Genres</li></a>
                <a href="/reviews/new"><li>New Review</li></a>
            </ul>
  </aside>
  
  <main class="main">
        <header>
                <h1 class="pageTitle">All Genres</h1>
        </header>

    <% @genres.each do |genre| %>
    <div class="pieRow">
    <img src="/images/small-book-icon.png" width="100px" class="thumbnail" alt="<%= genre.name %>">
      <div>
        <h2><i><%= genre.name %></i></h2>
      </div>
      <small><a href="/genres/<%= genre.slug %>">View All</a></small>
    </div>
    <%end%>   
  </main>

</div>