<% if flash.has?(:message) %>
  <h1 style="color: red; text-align: center"><%= flash[:message] %></h1>
<% end %>

<div class="myform">
<h1 class="pageTitle">Welcome to My Book Club!</h1>
<h1 class="pageTitle">Please log in.</h1>
<br>
<form action="/login" method="POST">
  Email: <input type="text" name="email"><br><br>
  Password: <input type="password" name="password"><br><br>
  <button type="submit" value="submit">Submit</button>
</form>
</div>