<h2>Welcome to My Book Club!</h2>
<form action="/login" method="POST">
  Email: <input type="text" name="email"><br><br>
  Password: <input type="password" name="password"><br><br>
  <button type="submit" value="submit">Submit</button>
</form>