<div class="myform">
<h1 class="pageTitle">Please sign up with My Book Club!</h1>

<form action="/signup" method="POST">
Your username: <input type="text" name="username"><br><br>
Your email: <input type="email" name="email"><br><br>
Your password: <input type="password" name="password"><br><br>
<button type="submit" id="submit">Create</button>
</form>

</div>