<% if flash.has?(:message) %>
  <p class="flash"><%= flash[:message] %></p>
<% end %>

<h1>Create a New Review</h1>

<form action="/reviews" method="POST">
  Book Title: <input type="text" name="book_title"><br><br>
  Your Review: <input type="text" name="content"><br><br>
  Your Rating: 
  <span class="star-rating">
  <input type="radio" name="rating" value="1">1<i></i>
  <input type="radio" name="rating" value="2">2<i></i>
  <input type="radio" name="rating" value="3">3<i></i>
  <input type="radio" name="rating" value="4">4<i></i>
  <input type="radio" name="rating" value="5">5<i></i>
</span><br><br>
Submit a Book Cover URL (optional):
<input type="url" name="thumbnail">
<br>
<br>
  <button type="sbumit" id="submit">Create</button>
</form>